
.beers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--gap);
    grid-gap: var(--gap);
}

.row.search-box {
    width: 100%;
    display: flex;
}

.row.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

button {
    width: 150px;
    font-size: 16px;
    background-color: #2196F3;
    border: 1px solid #0D47A1;
    cursor: pointer;
    transition: background-color 0.6s;
    padding:10px;
}

button:hover {
    background-color: #1E88E5;
}

button.inactive {
    filter: grayscale(1)
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(var(--gap) / 2)
}

.suggestion {
    cursor: pointer;
    background-color: #E3F2FD;
    border-bottom: 1px solid #1976D2;
    border-left: 1px solid #1976D2;
    border-right: 1px solid #1976D2;
    padding: 5px 10px;
}

.suggestion.hidden {
    display: none;
}
