<div class="search">
    <div class="row search-box">
        <input type="text" placeholder="Search Beer" (keydown)="handleKey($event)" [(ngModel)]="key">
        <button (click)="search()">Search</button>
        <button (click)="copyURL()">Copy URL</button>
    </div>
    <div class="row">
        <div
            *ngFor="let suggestion of recentKeys"
            [ngClass]="isSuggestionActive(suggestion)"
            (click)="gotoSearch(suggestion)"
        >{{suggestion}}</div>
    </div>
</div>
<div class="pagination" *ngIf="searched">
    <button (click)="previous()" [ngClass]="hasPrevious()">Previous</button>
    <button (click)="next()" [ngClass]="hasNext()">Next</button>
</div>
<div class="beers-container">
    <beer *ngFor="let beer of beers" [data]="beer"></beer>
</div>
<div class="empty" *ngIf="searched && beers.length == 0">No Beers Found for search term `{{key}}`</div>

<!-- <router-outlet></router-outlet> -->
